.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

/* Nom de l'hôte sur deux lignes */
.host_name {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #ff6060;
  font-weight: 500;
}

/* Photo de l'hôte */
.host_image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* Version mobile */
@media (max-width: 767.98px) {
  .host {
    margin-top: 0;
  }

  .host_name {
    font-size: 12px;
     margin-left: 260px;
  
  }

  .host_image {
    width: 32px;
    height: 32px;
   
  }
}
