.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.host p {
    text-align: right;
    width: 90px;
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

@media (max-width:767.98px) {

    .host {
        margin-top: 0;
    }

    .host p {
        font-size: 12px;
        width: 55px;
    }

    .host img {
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }
}