.rating {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 21px;
}

.rating .fa-star {
    font-size: 24px;
    margin-left: 7px;
    font-weight: 900;
}

.empty-star {
    color: #e3e3e3;
}

@media (max-width:767.98px) {

    .rating {
        margin-top: 0;
    }

    .rating .fa-star {
        font-size: 15px;
        margin-left: 0;
        margin-right: 4px;
    }
}