/* Conteneur des étoiles */
.rating {
  display: flex;
  gap: 7px;
  margin-top: 21px;
}

/* Style de base de chaque étoile */
.star {
  font-size: 24px;
  font-weight: 900;
}

/* Étoile rouge (remplie) */
.filled {
  color: #ff6060;
}

/* Étoile grise (vide) */
.empty {
  color: #e3e3e3;
}

/* Version mobile */
@media (max-width: 767.98px) {
  .rating {
    margin-top: 0;
  }

  .star {
    font-size: 15px;
  }
}
