/* Conteneur des tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0 0;
}

/* Chaque tag (petite pastille rouge) */
.tag_item {
  background-color: #ff6060;
  color: white;
  padding: 4px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

/* Version mobile */
@media (max-width: 767.98px) {
  .tags {
    margin: 0;
  }

  .tag_item {
    font-size: 10px;
    padding: 4px 15px;
    border-radius: 5px;
  }
}
